body {
  background: #006599 url('http://deskbg.com/i/c/1920x1200/wpp/2/2633/simpsons-nelson-haha-desktop-background.jpg') no-repeat 100% 100%;
  background-size: contain;
  color: white;
}

input[type="submit"], input[type="submit"]:hover {
  color: white;
}
